<a href="https://colab.research.google.com/github/TomasOtano25/python-basic/blob/main/11_1_Crear_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 11.1 Crear Series

## Pandas

`pandas` es una librería que proporciona herramientas analíticas y estructuras de datos con alto rendimiento y facilidad de uso. 


En particular, la clase `DataFrame` es útil para representación y manipulación de datos heterogéneos tabulados (hojas de cálculo, tabla SQL, etc.)  

### Características:

- Ofrece estructuras de datos flexibles y expresivas diseñadas para trabajar con datos tabulados y etiquetados, esta son: `Series` y  `DataFrame`.
- Posee herramientas robustas de lectura/escritura de datos desde ficheros con formatos conocidos como: CSV, XLS. SQL, HDF5, entre otros.
- Permite filtrar, agregar, o eliminar datos.
- Combina las características de las matrices de alto rendimiento de `numpy` con capacidades de manipulación de datos tabulados.


Para importar los modulos de la libreria `pandas`, por convencion se utiliza:

In [3]:
import numpy as np
import pandas as pd

## Series

Las funcionalidades de `pandas` se basan en dos estructuras de datos fundamentales: Series y DataFrames

Una `Serie` es un objeto que contiene un `array` unidimensional de datos y un `array` de etiquetas, conocido como _indice_. Si no se especifica un indice o etiquera, este se genera internamente como una secuencia ordenada de numeros enteros.

``` 
s = pd.Series(data, index=index)
```

In [5]:
# Crear una Serie con indice automaticos
serie = pd.Series([1976,1980, 1981, 1985])
serie

0    1976
1    1980
2    1981
3    1985
dtype: int64

In [8]:
serie.values.sum()

7922

In [9]:
serie.index

RangeIndex(start=0, stop=4, step=1)

### Podemos definir explicitamente un `array` indice y pasarlo como argumento.

In [10]:
serie = pd.Series([1989, 1990, 1991, 1992, 1993], index=['daniela', 'valentina', 'andrea', 'sherezade', 'genesis'])
serie

daniela      1989
valentina    1990
andrea       1991
sherezade    1992
genesis      1993
dtype: int64

In [11]:
serie.index

Index(['daniela', 'valentina', 'andrea', 'sherezade', 'genesis'], dtype='object')

### Tambien se puede crear `Series` a partir de diccionarios, `arrays`, etc.

In [13]:
serie = pd.Series(np.random.rand(10))
serie

0    0.914701
1    0.961098
2    0.790122
3    0.538839
4    0.113238
5    0.374600
6    0.596520
7    0.873070
8    0.684941
9    0.912049
dtype: float64

In [15]:
dicci = { 'cuadrado de {}'.format(i) : i*i for i in range(11) }
dicci

{'cuadrado de 0': 0,
 'cuadrado de 1': 1,
 'cuadrado de 10': 100,
 'cuadrado de 2': 4,
 'cuadrado de 3': 9,
 'cuadrado de 4': 16,
 'cuadrado de 5': 25,
 'cuadrado de 6': 36,
 'cuadrado de 7': 49,
 'cuadrado de 8': 64,
 'cuadrado de 9': 81}

In [17]:
serie_dic = pd.Series(dicci)
serie_dic

cuadrado de 0       0
cuadrado de 1       1
cuadrado de 2       4
cuadrado de 3       9
cuadrado de 4      16
cuadrado de 5      25
cuadrado de 6      36
cuadrado de 7      49
cuadrado de 8      64
cuadrado de 9      81
cuadrado de 10    100
dtype: int64