<a href="https://colab.research.google.com/github/TomasOtano25/python-basic/blob/main/11_4_Indexacion_y_filtrado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 11.4 Indexacion y filtrado

In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(
    np.random.randint(low=0, high=10, size=(10,2)),
    index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'],
    columns=['Cod_empleado' , 'Calificacion']
)
df

   Cod_empleado  Calificacion
a             1             7
b             7             5
c             6             4
d             5             7
e             1             8
f             2             2
g             9             2
h             8             5
i             7             3
j             1             7

In [7]:
df.Cod_empleado

a    1
b    7
c    6
d    5
e    1
f    2
g    9
h    8
i    7
j    1
Name: Cod_empleado, dtype: int64

In [6]:
df.Cod_empleado.mean()

4.7

In [8]:
df['Cod_empleado']

a    1
b    7
c    6
d    5
e    1
f    2
g    9
h    8
i    7
j    1
Name: Cod_empleado, dtype: int64

## Seleccionar filas con `.loc`

In [9]:
# loc = abreviacion de location
df.loc['a']

Cod_empleado    1
Calificacion    7
Name: a, dtype: int64

In [10]:
df.loc['b':'f']

   Cod_empleado  Calificacion
b             7             5
c             6             4
d             5             7
e             1             8
f             2             2

In [13]:
df.loc[df.index[3:7], 'Cod_empleado']

d    5
e    1
f    2
g    9
Name: Cod_empleado, dtype: int64

## Seleccionar con `.iloc`

In [14]:
df.iloc[0:3]

   Cod_empleado  Calificacion
a             1             7
b             7             5
c             6             4

In [15]:
df.iloc[3:]

   Cod_empleado  Calificacion
d             5             7
e             1             8
f             2             2
g             9             2
h             8             5
i             7             3
j             1             7