<a href="https://colab.research.google.com/github/TomasOtano25/python-basic/blob/main/11_5_Fechas_y_tiempo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 11.5 Fechas y tiempo

Para trabajar con valores de fecha y tiempo debemos utilizar el modulo `datetime`.

In [ ]:
from datetime import date

d1 = date(2013,5,20)

print(d1)

print(type(d1))

2013-05-20
<class 'datetime.date'>

## datetime.date

La clase `datetime.date` tiene atributos para obtener el dia, mes y el año de la fecha.

In [ ]:
print(d1)

#Dia
print('Dia: ', d1.day)

#Mes
print('Mes: ', d1.month)

#Año
print('Año: ', d1.year)

2013-05-20
Dia:  20
Mes:  5
Año:  2013

El metodo `date.today()` nos devuelve la fecha del dia

In [ ]:
d1 = date.today()
print(d1)

#Dia
print('Dia: ', d1.day)

#Mes
print('Mes: ', d1.month)

#Año
print('Año: ', d1.year)

2022-05-23
Dia:  23
Mes:  5
Año:  2022

## datetime.time

Un objeto de clase `datetime.time` tiene atributos para obtener la hora, los minutos y segundos de una hora.

In [ ]:
from datetime import time

t1 = time(15,20,13,40)

print(t1)

print(type(t1))

15:20:13.000040
<class 'datetime.time'>

In [ ]:
#Hora
print('Hora: ', t1.hour)

#Minuto
print('Minuto: ', t1.minute)

#Segundo
print('Segundo: ', t1.second)

#Microsegundo
print('Microsegundo: ', t1.microsecond)

Hora:  15
Minuto:  20
Segundo:  13
Microsegundo:  40

## datetime.datetime

La clase `datetime.datetime` contiene tanto la informacion de fecha como de hora.

In [ ]:
import datetime

d1 = datetime.datetime.now()
d1

datetime.datetime(2022, 5, 23, 18, 18, 23, 52953)

In [ ]:
d1 = datetime.datetime(2022, 5, 23, 18, 18, 23, 52953)

print(d1)

#Dia
print('Dia: ', d1.day)

#Mes
print('Mes: ', d1.month)

#Año
print('Año: ', d1.year)


#Hora
print('----------------\nHora: ', d1.hour)

#Minuto
print('Minuto: ', d1.minute)

#Segundo
print('Segundo: ', d1.second)

#Microsegundo
print('Microsegundo: ', d1.microsecond)

2022-05-23 18:18:23.052953
Dia:  23
Mes:  5
Año:  2022
----------------
Hora:  18
Minuto:  18
Segundo:  23
Microsegundo:  52953

## .weekday()

Este metodo nos devuelve un numero correspondiente al dia de la semana.

> __{Lunes: 0, Martes: 1, Miércoles:2, Jueves:3, Viernes:4, Sábado: 5, Domingo: 6}__

In [ ]:
print(d1)
print(d1.weekday())

2022-05-23 18:18:23.052953
0

In [ ]:
print(d1.isoweekday())

1

## .isocalendar

### Este método nos devuelve una tupla (`valor_1`,`valor_2`,`valor_3`) que representa una fecha:
+ `valor_1` indica el año en formato ISO.
+ `valor_2` indica la semana del año en formato ISO.
+ `valor_3` indica el día de la semana en formato ISO.

In [ ]:
d1.isocalendar()

(2022, 21, 1)

## Obtener fechas con otros metodos.

In [ ]:
d1_datetime = date.fromisoformat('2020-04-23')
print(d1_datetime)
print(type(d1_datetime))

2020-04-23
<class 'datetime.date'>

In [ ]:
d1_ISO = date(2020,4,23).isoformat()
print(d1_ISO)
print(type(d1_ISO))

2020-04-23
<class 'str'>

## *.strptime()*

 Este método nos permite leer una cadena de texto con una fecha en un formato indeterminado como un objeto de clase `.datetime`

|Formatos|Descripción|
|-------|-----------|
|`%a`|Nombre del día de la semana abreviado|
|`%A`|Nombre del día de la semana completo|
|`%w`|Día de la semana como número decimal|
|`%d`|Día del mes como número de dos dígitos|
|`%-d`|Día del mes como número decimal|
|`%b`|Nombre del mes abreviado|
|`%B`|Nombre del mes completo|
|`%m`|Mes del año número de dos dígitos|
|`%-m`|Mes del año como número decimal|
|`%y`|Año sin centenas como número de dos dígitos|
|`%-y`|Año sin centenas como número decimal|
|`%Y`|Año completo|
|`%H`|Hora en 24 hrs. con dos dígitos|
|`%-H`|Hora en 24 hrs. como número decimal|
|`%I`|Hora en 12 hrs. con dos dígitos|
|`%-I`|Hora en 12 hrs. como número decimal|
|`%M`|Minutos con dos dígitos|
|`%-M`|Minutos como número decimal|
|`%S`|Segundos con dos dígitos|
|`%-S`|Segundos como número decimal|

In [ ]:
fecha = '22 April, 2020 13:20:13'

d1 = datetime.datetime.strptime(fecha, '%d %B, %Y %H:%M:%S')

print(d1)
print(type(d1))

2020-04-22 13:20:13
<class 'datetime.datetime'>

## datetime.timedelta

La clase `timedelta` nos permite operar entre fechas.

In [ ]:
d1 = datetime.datetime.now()

print('Fecha de hoy: ', d1)

Fecha de hoy:  2022-05-23 18:33:44.373676

Para obtener la fecha de pasada mañana realizamos una suma de fechas.

In [ ]:
d2 = d1 + datetime.timedelta(days=2)
print('Fecha: 2 dias a partir de hoy :', d2)

Fecha: 2 dias a partir de hoy : 2022-05-25 18:33:44.373676

In [ ]:
d3 = d1 + datetime.timedelta(weeks=2)
print('Fecha: 2 semanas a partir de hoy :', d3)

Fecha: 2 semanas a partir de hoy : 2022-06-06 18:33:44.373676

Para obtener una fecha pasada debemos realizar uns substraccion.

In [ ]:
d2 = d1 - datetime.timedelta(days=2)
print('Fecha: 2 dias antes de hoy :', d2)

d3 = d1 - datetime.timedelta(weeks=2)
print('Fecha: 2 semanas antes de hoy :', d3)

Fecha: 2 dias antes de hoy : 2022-05-21 18:33:44.373676
Fecha: 2 semanas antes de hoy : 2022-05-09 18:33:44.373676