<a href="https://colab.research.google.com/github/TomasOtano25/python-basic/blob/main/11_6_Fechas_con_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 11.6 Fechas con pandas

Pandas tambien incluye sus propias funciones para trabajar con fechas

In [ ]:
import numpy as np
import pandas as pd
import datetime

## .to_datetime()

In [ ]:
fecha = pd.to_datetime('24th April, 2020')

print(fecha)
print(type(fecha))

2020-04-24 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [ ]:
print(fecha.year)
print(fecha.month)
print(fecha.day)
print(fecha.hour, fecha.minute, fecha.second)

2020
4
24
0 0 0

# .to_timedelta()

Esta funcion nos permite calcular los dias antes o despues de una fecha determinada.

In [ ]:
fecha = datetime.datetime.now()
print(fecha)

2022-05-23 19:57:23.469673

La fecha del dia siguiente

In [ ]:
print('La fecha de hoy es: ', fecha)
print('Y la fecha en 4 dias sera: ', fecha + pd.to_timedelta(4, unit="D"))

La fecha de hoy es:  2022-05-23 19:57:23.469673
Y la fecha en 4 dias sera:  2022-05-27 19:57:23.469673

## .date_range()

Este metodo nos permite generar un rango de fechas.

In [ ]:
fechas_inicio = pd.date_range(start='24/4/2020', end='24/5/2020', freq='D')
fechas_inicio

DatetimeIndex(['2020-04-24', '2020-04-25', '2020-04-26', '2020-04-27',
               '2020-04-28', '2020-04-29', '2020-04-30', '2020-05-01',
               '2020-05-02', '2020-05-03', '2020-05-04', '2020-05-05',
               '2020-05-06', '2020-05-07', '2020-05-08', '2020-05-09',
               '2020-05-10', '2020-05-11', '2020-05-12', '2020-05-13',
               '2020-05-14', '2020-05-15', '2020-05-16', '2020-05-17',
               '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21',
               '2020-05-22', '2020-05-23', '2020-05-24'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
fechas_fin = pd.date_range(start='24/5/2020', end='24/6/2020', freq='D')
fechas_fin

DatetimeIndex(['2020-05-24', '2020-05-25', '2020-05-26', '2020-05-27',
               '2020-05-28', '2020-05-29', '2020-05-30', '2020-05-31',
               '2020-06-01', '2020-06-02', '2020-06-03', '2020-06-04',
               '2020-06-05', '2020-06-06', '2020-06-07', '2020-06-08',
               '2020-06-09', '2020-06-10', '2020-06-11', '2020-06-12',
               '2020-06-13', '2020-06-14', '2020-06-15', '2020-06-16',
               '2020-06-17', '2020-06-18', '2020-06-19', '2020-06-20',
               '2020-06-21', '2020-06-22', '2020-06-23', '2020-06-24'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
lista_equis = []

for i in range(15):
  lista_equis.append(np.random.randint(2))

#dataframe
df = pd.DataFrame()
df['Inicio_campaña'] = fechas_inicio[:15]
df['Fin_campaña'] = fechas_fin[:15]
df['Target'] = lista_equis
df

   Inicio_campaña Fin_campaña  Target
0      2020-04-24  2020-05-24       1
1      2020-04-25  2020-05-25       0
2      2020-04-26  2020-05-26       1
3      2020-04-27  2020-05-27       0
4      2020-04-28  2020-05-28       0
5      2020-04-29  2020-05-29       0
6      2020-04-30  2020-05-30       0
7      2020-05-01  2020-05-31       0
8      2020-05-02  2020-06-01       1
9      2020-05-03  2020-06-02       0
10     2020-05-04  2020-06-03       0
11     2020-05-05  2020-06-04       0
12     2020-05-06  2020-06-05       1
13     2020-05-07  2020-06-06       1
14     2020-05-08  2020-06-07       0

In [ ]:
df['Dia de inicio'] = df['Inicio_campaña'].dt.day

df['Mes de inicio'] = df['Inicio_campaña'].dt.month

df['Año de inicio'] = df['Inicio_campaña'].dt.year

df['Hora_inicio'] = df['Inicio_campaña'].dt.hour

df['Minuto_inicio'] = df['Inicio_campaña'].dt.minute

df['Segundo_inicio'] = df['Inicio_campaña'].dt.second

df['Nombre del dia  de inicio'] = df['Inicio_campaña'].dt.weekday

df['Semana del año de inicio'] = df['Inicio_campaña'].dt.week

df['Duracion'] = df['Fin_campaña'] - df['Inicio_campaña']

df

In [ ]:
df.columns = ['Inicio_campaña', 'Fin_campaña', 'Target', 'Dia de inicio', 'Mes de inicio', 'Año de inicio', 'Hora_inicio', 'Minuto_inicio', 'Segundo_inicio', 'Dia de la semana del inicio', 'Semana del año del inicio', 'Duracion']

In [ ]:
df

,Inicio_campaña,Fin_campaña,Target,Dia de inicio,Mes de inicio,Año de inicio,Hora_inicio,Minuto_inicio,Segundo_inicio,Dia de la semana del inicio,Semana del año del inicio,Duracion
0,2020-04-24,2020-05-24,1,24,4,2020,0,0,0,4,17,30 days
1,2020-04-25,2020-05-25,0,25,4,2020,0,0,0,5,17,30 days
2,2020-04-26,2020-05-26,1,26,4,2020,0,0,0,6,17,30 days
3,2020-04-27,2020-05-27,0,27,4,2020,0,0,0,0,18,30 days
4,2020-04-28,2020-05-28,0,28,4,2020,0,0,0,1,18,30 days
5,2020-04-29,2020-05-29,0,29,4,2020,0,0,0,2,18,30 days
6,2020-04-30,2020-05-30,0,30,4,2020,0,0,0,3,18,30 days
7,2020-05-01,2020-05-31,0,1,5,2020,0,0,0,4,18,30 days
8,2020-05-02,2020-06-01,1,2,5,2020,0,0,0,5,18,30 days
9,2020-05-03,2020-06-02,0,3,5,2020,0,0,0,6,18,30 days
10,2020-05-04,2020-06-03,0,4,5,2020,0,0,0,0,19,30 days
11,2020-05-05,2020-06-04,0,5,5,2020,0,0,0,1,19,30 days
12,2020-05-06,2020-06-05,1,6,5,2020,0,0,0,2,19,30 days
13,2020-05-07,2020-06-06,1,7,5,2020,0,0,0,3,19,30 days
14,2020-05-08,2020-06-07,0,8,5,2020,0,0,0,4,19,30 days

In [ ]:
from datetime import timedelta

df['Dia de duracion'] = df['Duracion']/timedelta(days=1)
df['Minutos de duracion'] = df['Duracion']/timedelta(minutes=1)
df['Segundos de duracion'] = df['Duracion']/timedelta(seconds=1)

df

,Inicio_campaña,Fin_campaña,Target,Dia de inicio,Mes de inicio,Año de inicio,Hora_inicio,Minuto_inicio,Segundo_inicio,Dia de la semana del inicio,Semana del año del inicio,Duracion,Dia de duracion,Minutos de duracion,Segundos de duracion
0,2020-04-24,2020-05-24,1,24,4,2020,0,0,0,4,17,30 days,30.0,43200.0,2592000.0
1,2020-04-25,2020-05-25,0,25,4,2020,0,0,0,5,17,30 days,30.0,43200.0,2592000.0
2,2020-04-26,2020-05-26,1,26,4,2020,0,0,0,6,17,30 days,30.0,43200.0,2592000.0
3,2020-04-27,2020-05-27,0,27,4,2020,0,0,0,0,18,30 days,30.0,43200.0,2592000.0
4,2020-04-28,2020-05-28,0,28,4,2020,0,0,0,1,18,30 days,30.0,43200.0,2592000.0
5,2020-04-29,2020-05-29,0,29,4,2020,0,0,0,2,18,30 days,30.0,43200.0,2592000.0
6,2020-04-30,2020-05-30,0,30,4,2020,0,0,0,3,18,30 days,30.0,43200.0,2592000.0
7,2020-05-01,2020-05-31,0,1,5,2020,0,0,0,4,18,30 days,30.0,43200.0,2592000.0
8,2020-05-02,2020-06-01,1,2,5,2020,0,0,0,5,18,30 days,30.0,43200.0,2592000.0
9,2020-05-03,2020-06-02,0,3,5,2020,0,0,0,6,18,30 days,30.0,43200.0,2592000.0
10,2020-05-04,2020-06-03,0,4,5,2020,0,0,0,0,19,30 days,30.0,43200.0,2592000.0
11,2020-05-05,2020-06-04,0,5,5,2020,0,0,0,1,19,30 days,30.0,43200.0,2592000.0
12,2020-05-06,2020-06-05,1,6,5,2020,0,0,0,2,19,30 days,30.0,43200.0,2592000.0
13,2020-05-07,2020-06-06,1,7,5,2020,0,0,0,3,19,30 days,30.0,43200.0,2592000.0
14,2020-05-08,2020-06-07,0,8,5,2020,0,0,0,4,19,30 days,30.0,43200.0,2592000.0