<a href="https://colab.research.google.com/github/TomasOtano25/python-basic/blob/main/11_7_Manaje_de_datos_ausentes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 11.7 Manaje de datos ausentes

`pandas` tomas a los valores `NaN` y `None` como valores ausentes. La funcion `pandas.isnull()` se puede usar para determinar si existen valores ausentes en los datos.

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({
    'VarA': ['aa', None, 'cc'],
    'VarB': [20, 30, None],
    'VarC': [1234, 3456, 6789]
  },
  index=['Caso 1', 'Caso 2', 'Caso 3'])

df

        VarA  VarB  VarC
Caso 1    aa  20.0  1234
Caso 2  None  30.0  3456
Caso 3    cc   NaN  6789

In [4]:
df.isnull()

         VarA   VarB   VarC
Caso 1  False  False  False
Caso 2   True  False  False
Caso 3  False   True  False

### Debemos decidir si descartamos las filas que incluyen valores ausentes, esto lo conseguimos usando el metodo `.dropna()`:

In [5]:
df.dropna(subset=['VarA', 'VarB'])

       VarA  VarB  VarC
Caso 1   aa  20.0  1234

### Otra opcion es sustituir los valores `NaN` con un valor determinadao, para esto usamos el metodo `.fillna()`.

In [7]:
df.fillna("")

       VarA  VarB  VarC
Caso 1   aa  20.0  1234
Caso 2       30.0  3456
Caso 3   cc        6789

In [9]:
# Remplazar los valores nulos por la media aritmetica
df.fillna(df.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

        VarA  VarB  VarC
Caso 1    aa  20.0  1234
Caso 2  None  30.0  3456
Caso 3    cc  25.0  6789

In [10]:
df.fillna(25)

       VarA  VarB  VarC
Caso 1   aa  20.0  1234
Caso 2   25  30.0  3456
Caso 3   cc  25.0  6789