<a href="https://colab.research.google.com/github/TomasOtano25/python-basic/blob/main/9_4_Ingresar_y_leer_datos_en_la_BD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#9.4 Ingresar y leer datos en la BD

`CREATE TABLE` es el comando para crear una tabla

In [1]:
import sqlite3

In [2]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()

#Creamos una tabla llamada Estudiantes
cursor.execute("CREATE TABLE estudiantes (email VARCHAR(100), carrera VARCHAR(100), nombre VARCHAR(100), edad INTEGER)")

conexion.close()

`INSERT INTO` es el comando para ingresar datos

In [3]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()

#Insertamos un registro en la tabla
cursor.execute("INSERT INTO estudiantes VALUES ('tomasotano25@gmail.com', 'Artes', 'Sharon', '27')")

#Guardamos los cambios haciendo un commit
conexion.commit()

conexion.close()

`SELECT * FROM` es el comando para leer el contenido de una tabla

In [5]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()

#Seleccionamos todos los registros en la tabla
cursor.execute("SELECT * FROM estudiantes")

usuarios = cursor.fetchone()
print(usuarios)

('tomasotano25@gmail.com', 'Artes', 'Sharon', 27)

Tambien podemos ingresar y leer varios registros al mismo tiempo

In [7]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()

usuarios = [
    ('tomasotano25@gmail.com', 'Artes', 'Sharon', 27),
    ('lollipopbusiness@vip.com', 'Contaduria', 'Rosana', 60),
    ('solfernandez@googlemail.com', 'Estadistica', 'Sol', 30)
]

cursor.executemany("INSERT INTO estudiantes VALUES (?,?,?,?)", usuarios)

conexion.commit()

conexion.close()

In [8]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()

#Seleccionamos todos los registros en la tabla
cursor.execute("SELECT * FROM estudiantes")

usuarios = cursor.fetchall()

for u in usuarios:
  print(u)
  
conexion.close()

('tomasotano25@gmail.com', 'Artes', 'Sharon', 27)
('tomasotano25@gmail.com', 'Artes', 'Sharon', 27)
('lollipopbusiness@vip.com', 'Contaduria', 'Rosana', 60)
('solfernandez@googlemail.com', 'Estadistica', 'Sol', 30)