<a href="https://colab.research.google.com/github/TomasOtano25/python-basic/blob/main/9_5_Leer_un_CSV_e_insertarlo_en_la_BD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 9.5 Leer un CSV e insertarlo en la BD

In [2]:
import sqlite3

In [3]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()

#Creamos una tabla llamada Estudiantes
cursor.execute("CREATE TABLE estudiantes (email VARCHAR(100), carrera VARCHAR(100), nombre VARCHAR(100), edad INTEGER)")

conexion.close()

In [4]:
conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()

usuarios = [
    ('tomasotano25@gmail.com', 'Artes', 'Sharon', 27),
    ('lollipopbusiness@vip.com', 'Contaduria', 'Rosana', 60),
    ('solfernandez@googlemail.com', 'Estadistica', 'Sol', 30)
]

cursor.executemany("INSERT INTO estudiantes VALUES (?,?,?,?)", usuarios)

conexion.commit()

conexion.close()

In [7]:
import csv

conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()

f = open("/content/datos_db.txt", "w")

writer = csv.writer(f)

#Seleccionamos todos los registros en la tabla
cursor.execute("SELECT * FROM estudiantes")

usuarios = cursor.fetchall()

for u in usuarios:
  writer.writerow(u)
  
conexion.close()
f.close()

In [9]:
import sqlite3
import csv

conexion = sqlite3.connect("ejemplo.db")
cursor = conexion.cursor()

archivo = open("/content/datos_db.txt")

filas = csv.reader(archivo)

cursor.executemany("INSERT INTO estudiantes VALUES (?,?,?,?)", filas)

cursor.execute("SELECT * from  estudiantes")

print(cursor.fetchall())

conexion.commit()
conexion.close()

[('tomasotano25@gmail.com', 'Artes', 'Sharon', 27), ('lollipopbusiness@vip.com', 'Contaduria', 'Rosana', 60), ('solfernandez@googlemail.com', 'Estadistica', 'Sol', 30), ('tomasotano25@gmail.com', 'Artes', 'Sharon', 27), ('lollipopbusiness@vip.com', 'Contaduria', 'Rosana', 60), ('solfernandez@googlemail.com', 'Estadistica', 'Sol', 30), ('tomasotano25@gmail.com', 'Artes', 'Sharon', 27), ('lollipopbusiness@vip.com', 'Contaduria', 'Rosana', 60), ('solfernandez@googlemail.com', 'Estadistica', 'Sol', 30)]